.App {
    padding: 20px;
    background: rgb(2, 0, 0);
    width: 100vw;
    height: 100vh;
    color: white;
  }
  
  .CanvasWrapper {
    background: rgb(2, 0, 0);
    border: 1px solid #ddd;
    width: 500px;
    height: 500px;
  }
  
  .FindingsTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .FindingsTable td {
    border: 1px solid #ddd;
    padding: 4px;
  }
  
  .content-container {
    display: flex;

    div {
        margin: 10px;
    }
  }
  